[submodule "Libs/glfw"]
	path = Libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Libs/glslang"]
	path = Libs/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "Libs/VulkanMemoryAllocator"]
	path = Libs/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
